
body {
    margin: 0;
    line-height: normal;
    padding-top: 60px;
}
.item1 { grid-area: header; }
.item3 { 
    grid-area: main;
    height: vh;
 }
.item4 { 
    grid-area: footer;
    width: 100%;
}
.item2 {
    grid-area: menu;
    position: fixed;
    height: 450px;
    width: 300px;
    box-shadow: 0px 5px 10px  rgba(0, 0, 0, 0.20);
    text-align: left;
    top: 52px;
    font-size: 16px;
    color: #000;
    font-family: Inter;
    z-index: 99;

}
.menu-child a {
    color: #000;
    text-decoration: none
    
}
.user li {
    font-weight: 600;
}
 .user .avta {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #48ca74;
}
.user {
    position: absolute;
    display: flex;
    align-items: center;
    list-style: none;
    top: 4.6%;
    right: 28.52%;
    bottom: 86.21%;
    left: 14.45%;
    gap: 10px;
}

.list {
    display: flex;           
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 18.38%;
    gap: 20px;              
  }
  
.list a {
    text-decoration: none;  
    display: block;
    box-sizing: border-box;
    color: black;           
    padding: 10px;
    padding-left: 15%;
  }
  
.list a:hover {
    background-color: lightgray;          
  }
.list .a2 {
    display: flex;
    font-weight: 600;
    margin: 0;
    align-items: center;
    padding-left: 20px;

}
.list img{
    margin-right: 10px; 
    vertical-align: middle;
    height: 20px;
}
.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'menu   main   main   main   main   main'
        'footer footer footer footer footer footer';

    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    /* display: grid;
    grid:
    'header header header header header header'
    'menu . main main main . '; */
}